* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #1877f2;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --secondary-color: grey;
}

header {
  background: var(--primary-color);
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header ul li a {
  margin-right: 16px;
}
header ul li a,
header a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 80vw;
  margin: 0 auto;
}
.user-list {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-item {
  width: 31%;
  padding: 24px;
  border: 1px dashed var(--secondary-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.user-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 8px;
}

.user-item h6 {
  margin-bottom: 12px;
}

.showMore-btn {
  border: none;
  background-color: var(--light-color);
  color: var(--dark-color);
  outline: none;
  border-radius: 4px;
  padding: 4px 6px;
  transition: all .3s;
  cursor: pointer;
}
.showMore-btn:hover {
  transform: scale(1.1);
}

/* Search form */
.form-wrapper {
  margin-top: 36px;
}
.search-input {
  width: 100%;
  display: block;
  padding: 4px 16px;
}

.submit-btn {
  width: 100%;
  margin-top: 16px;
  display: block;
  padding: 4px;
  background-color: var(--dark-color);
  color: var(--light-color);
  outline: none;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.submit-btn:hover {
  opacity: 0.8;
}
